#experience-single-row > div > img {
    width: 60px;
  }
  
  #experience-single-row > div > p {
    padding: 0px;
    margin: 0px;
    font-size: 12px;
  }
  
  #experience-single-row > div > p:nth-child(1) {
    font-size: 14px;
    font-weight: 500;
  }
  #experience-single-row > div > p:nth-child(3),
  #experience-single-row > div > p:nth-child(4) {
    color: rgb(223, 203, 203);
  }
  
  #experience-single-row > div > p:nth-child(5) {
    margin-top: 5px;
  }
  .experience-list-con {
    border-radius: 0.8rem !important;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.08)!important;
    background: rgb(255, 255, 255);
    padding: 16px;
    margin: 0 0 16px;
    margin-top: 16px;
  }