.sidebar-container {
    background: white!important;
}

.img-circle {
   width: 48px;
   height: 48px; 
}

.edit-text {
    color: grey;
  }

  .profile-title {
    font-size: small;
    font-weight: 300;
    color: grey;
  }